@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}

/* Banner Styles Starts here */
header{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.banner{
    height: 600px;
    width: 1320px;
    margin: 0 auto;
    background-image: url(images/Banner\ Image.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner #banner-heading{
    font-size: 72px;
    font-weight: 900;
    /* align-items: center; */
    text-align: center;
}
#banner-subhead{
    font-size: 32px;
    font-weight: 400;
}

/* Banner Styles End here  */

/* Body part Styles Starts here  */
.content-area{
    width: 100vw;
    height: 100vh;
    color: black;
    text-align: center;
    margin: 50px 0;
}
.first-section{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    
}
#content-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding: 20px;
}
#content-subtitle{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
padding: 10px;
}
.content-last-title{
    font-family: Inter;
font-size: 48px;
font-weight: 700;
padding: 10px;
}
.content-img{
    margin: 25px;
}
/* Body part Styles Ends here  */